body {
  font-family: monospace;
  font-color: white;
  background-image: url("https://github.com/blakemiles/blakemiles.github.io/blob/master/unit_3/images/hero00.jpg?raw=true")
}

h1 {
  color: #000;
  text-align: left;
  font-size: 500%;
}

h2 {
  color: white;
  text-align: let;
  text-decoration: underline;
  font-size: 300%;
}

p {
  color: white;
  font-size: 200%;
}

ul.a {
  list-style-type: circle;
  font-size: 200%;
}
h3 {
  color: white;
  vertical-align: bottom;
  text-align: left;
  font-size: 100%;
}