body {
  margin-top: 100px;
  font-family: monospace;
  font-color: white;
  background-image: url("https://github.com/blakemiles/blakemiles.github.io/blob/master/unit_3/images/hero00.jpg?raw=true")
}

h1 {
  padding: 15px 50px;
  color: #000;
  margin-left: 200px;
  text-align: left;
  font-size: 500%;
}

h2 {
  padding: 0px 0px 0px 110px;
  color: white;
  text-align: let;
  text-decoration: underline;
  font-size: 300%;
}

p {
  margin-left: 150px;
  color: white;
  font-size: 200%;
}

ul.a {
  list-style-type: square;
  margin-left: 200px;
  font-size: 200%;
}

h3 {
  color: white;
  vertical-align: bottom;
  text-align: left;
  font-size: 100%;
}

#slogan {
  color: white;
  text-align: let;
  text-decoration: underline;
  font-size: 300%;
}